<h1> ֎ Movies ֍</h1>

<form class="filterGenre" method="get" action="">
  Director: <input name="director" type="text">
    <input type="submit">
</form>

<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Director</th> 
    <th>Year</th>
  </tr>
  
  {{#each movies}}
  <tr>
    <td>{{this.title}}</td>
    <td>{{this.director}}</td> 
    <td>{{this.year}}</td>
  </tr>
  {{/each}}
</table>

<h2> Add a band recommendation: </h2>

 <form method="post" action"">
 
  <p class="add">
    Title: <input name="title" type="text">, directed by: <input name="director" type="text">, in: (<input name="date" type="text">)
    <input type="submit">
  </p>
</form>
